html,
body,
#root,
.App {
  background-color: darkolivegreen;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
}


#root,
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  background-color: brown;
  width: 100%;
  border: black;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #ddd;
}

.introduction,
.credits {
  max-width: 800px;
  text-align: justify;
  margin-bottom: 30px;
}
